* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-image: url("../images/mainImage.png");
    background-color: #F5F9FD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
}

.mainContainer{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.mainHeaderContainer{
    padding-top: 10vh;
    margin: 0vh 15vw;
    text-align: center;
}

hr{
    border: none;
    background-color: #232C43;
    height: 2px;
}

.headerStyle{
    width: 100%;
    height: auto;
}

.newZealandHeader{
    font-family: 'Impact', sans-serif;
    font-size: 7vh;
    color: #232C43;
    padding-top: 1vh;
}

.roadTripHeader{
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
    color: #232C43;
    padding: 0px 20px 10px 20px;
}

.appName{
    padding-top: 2vh;
    margin: 50px 10px 0px 10px;
    text-align: center;
}

.transportPlanner{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 5vh;
    color: #FFFFFF;
}

.iconRow{
    height: auto;
    padding-top: 2vh;
    margin: 0;
    text-align: center;
}

.vehicleIcon{
    width: 20vw;
    padding: 2vw;
}

.letsGoBox{
    width: 30vw;
    background-color: #232C43;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #444444;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    /* padding-bottom: 0.5px; */
}

.letsGoBox:hover{
    background-color: #52679b;
}

.letsGoHeader{
    font-family: 'Pacifico', cursive;
    font-size: 3vh;
    color: #FFFFFF;
    padding: 5px;
}

.nzLogoBox{
  overflow: auto;
  text-align: right;
}

.pureNZlogo{
  width: 35vw;
  position: fixed;
  bottom: 0;
  right: 0;
}

.helpIconBox{
    height: 3.2rem;
    width: 2.5rem;
    background-color: #232C43;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #444444;
    margin: 15px;
    text-align: center;
    padding: 2px 8px;
    position:fixed;
    top: 0;
    right: 0;
    display: none;
}

/* .helpIcon{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}  */

.kiaOraBox{
    margin: 15vh 20vw 0 20vw;
    height: auto;
    background-color: #232C43;
    opacity: 0.8;
    padding: 10px;
    display: none;
}

.goBackIcon{
    width: 4vw;
}

.kiaOraWords{
    text-align: center;
}

h2{
    font-family: 'Nunito', sans-serif;
    font-size: 8vw;
    color: #FFFFFF;
}

.kiaOraText{
    font-family: 'Nunito', sans-serif;
    font-size: 4vw;
    color: #FFFFFF;
}

.helpContainer{
    margin: 15vh 20vw 0 20vw;
    max-width: 900px;
    height: auto;
    background-color: #232C43;
    opacity: 0.8;
    padding: 10px;
    position: relative;
    display: none;
}

.helpWords{
    text-align: center;
}

.closeIcon{
    width: 4vw;
    position: absolute;
    right: 10px;
}

h3{
    font-family: 'Nunito', sans-serif;
    font-size: 4.5vw;
    color: #FFFFFF;
}
 .midHeader{
    padding-top: 30px;
 }

.helpText{

}

.helpList{
    padding-left: 40px;
    padding-right: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5vw;
    color: #FFFFFF;
}

@media only screen and (min-width: 650px){
  .newZealandHeader{
      font-size: 9vh;
  }
  .roadTripHeader{
      font-size: 8vh;
  }
  .transportPlanner{
      font-size: 6vh;
  }
  .vehicleIcon{
      width: 15vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
  h2{
    font-size: 6vw;
  }
  .kiaOraText{
    font-size: 2vw;
  }
  .helpText{
      padding-left: 10vw;
      padding-right: 10vw;
  }
}

@media only screen and (min-width: 900px){
    .peopleButton{
        font-size: 1.2rem;
    }
    .peopleDrop{
        font-size: 1.2rem;
    }
    .midHeader{
       padding-top: 40px;
    }
    .helpText{
        padding-left: 50px;
    }
}

@media only screen and (min-width: 1200px){
  .mainContainer{
  max-width: 1800px;
}
  .newZealandHeader{
      font-size: 12vh;
  }
  .roadTripHeader{
      font-size: 10vh;
  }
  .transportPlanner{
      font-size: 8vh;
  }
  .vehicleIcon{
      width: 12vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
  .midHeader{
     padding-top: 60px;
  }
  .helpText{
      padding-left: 70px;
  }
}

@media only screen and (min-width: 1800px){
  .mainContainer{
  max-width: 2800px;
}
  .newZealandHeader{
      font-size: 12vh;
  }
  .roadTripHeader{
      font-size: 10vh;
  }
  .transportPlanner{
      font-size: 8vh;
  }
  .vehicleIcon{
      width: 12vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
}
