* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;}

body {
    background-image: url("../images/mainImage.png");
    background-color: #F5F9FD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    /* margin-left: auto;
    margin-right: auto; */
}

.mainContainer{
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.mainHeaderContainer{
    padding-top: 10vh;
    margin: 0vh 15vw;
    text-align: center;
}

hr{
    border: none;
    background-color: #232C43;
    height: 2px;
}

.headerStyle{
    width: 100%;
    height: auto;
}

.newZealandHeader{
    font-family: 'Impact', sans-serif;
    font-size: 7vh;
    color: #232C43;
    padding-top: 1vh;
}

.roadTripHeader{
    font-family: 'Pacifico', cursive;
    font-size: 6vh;
    color: #232C43;
    padding: 0px 20px 10px 20px;
}

.appName{
    padding-top: 2vh;
    margin: 50px 10px 0px 10px;
    text-align: center;
}

.transportPlanner{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 5vh;
    color: #FFFFFF;
}

.iconRow{
    height: auto;
    padding-top: 2vh;
    margin: 0;
    /* margin-top: 10px; */
    text-align: center;
}

.vehicleIcon{
    width: 20vw;
    padding: 2vw;
}

.letsGoBox{
    height: auto;
    width: 30vw;
    background-color: #232C43;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #444444;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 5px;
}

.letsGoHeader{
    font-family: 'Pacifico', cursive;
    font-size: 3vh;
    color: #FFFFFF;
    padding: 5px;

}

.logoBox{
  overflow: auto;
  text-align: right;
}

.pureNZlogo{
  width: 35vw;
  position: fixed;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 650px) {
  .newZealandHeader{
      font-size: 9vh;
  }
  .roadTripHeader{
      font-size: 8vh;
  }
  .transportPlanner{
      font-size: 6vh;
}
  .vehicleIcon{
      width: 15vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
}

@media only screen and (min-width: 1200px) {
 .mainContainer{
    max-width: 1800px;
    }
  .newZealandHeader{
      font-size: 12vh;
  }
  .roadTripHeader{
      font-size: 10vh;
  }
  .transportPlanner{
      font-size: 8vh;
}
  .vehicleIcon{
      width: 12vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
}
