* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    background-image: url("../images/mainImage.png");
    background-color: #F5F9FD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100vh;
    overflow: hidden;

}

.pageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox{
    overflow-y: auto;
    width: 80vw;
    height: 80vh;
    /* max-width: 600px; */
    /* margin: 10px; */
    min-height: 100px;
    max-height: 80vh;
    /* background-color: #232C43; */
    /* opacity: 0.8; */
    /* padding: 10px; */
    /* overflow: hidden; */
    /* position: relative; */
}

.mainContainer{
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

hr{
    border: none;
    background-color: #232C43;
    height: 2px;
    margin: 0;
}

.mainHeaderContainer{
    /* padding-top: 10vh;
    margin: 0vh 15vw;
    text-align: center; */
}

/* .headerStyle{
    width: 100%;
    height: auto;
} */

.newZealandHeader{
    font-family: 'Impact', sans-serif;
    font-size: 3em;
    color: #232C43;
    padding-top: 0.5vh;
}

.roadTripHeader{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    color: #232C43;
    padding: 0px 20px;
}

.appName{
    /* padding-top: 2vh; */
    margin: 40px 5px;
    text-align: center;
}

.transportPlanner{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #FFFFFF;
}

.iconRow{
    height: auto;
    /* padding-top: 0.5vh; */
    /* margin: 0; */
    /* text-align: center; */
}

.vehicleIcon{
    width: 3.5rem;
    padding: 2vw;
}

.letsGoBox{
    width: 8rem;
    background-color: #232C43;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #444444;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    /* padding-bottom: 0.5px; */
}

.letsGoBox:hover{
    background-color: #52679b;
}

.letsGoHeader{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding: 5px;
}

.footer{
    position: fixed;
    bottom: 0;
    right: 0;
}

.nzLogoBox{
  /* overflow: auto; */
  /* text-align: right; */
}

.pureNZlogo{
  height: 10vh;
}

/* STYLE FOR PAGE 2 */

.helpIconBox{
    height: 1.8rem;
    width: 1.8rem;
    background-color: #232C43;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 3px 3px 6px #444444;
    margin: 15px;
    text-align: center;
    padding: 2px;
    position:fixed;
    top: 0;
    right: 0;
    display: none;
}

.helpIconBox img {
    width: 80%;
}

.kiaOraBox, .daysBox{
    background-color: #232C43;
    opacity: 0.8;
    display: none;
}

.goBackIcon{
    padding: 15px 0 0 15px;
    width: 2.5rem;
}

.kiaOraWords, .daysWords{
    text-align: center;
}

h2, h3{
    font-family: 'Nunito', sans-serif;
    color: #FFFFFF;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

.bodyText{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
}

.inputField{
    padding: 0 40px 10px 40px;
    margin: auto;
    max-width: 300px;
}

.peopleIcon, .calendarIcon{
    width: 1.8em;
}

/* STYLING FOR HELP PAGE */
.helpContainer{
    position: relative;
    background-color: #232C43;
    opacity: 0.8;
    display: none;
}

.helpWords{
    text-align: center;
    padding: 10px;
}

.closeContainer{
    padding: 15px;
}

.closeIcon{
    width: 1.2rem;
    position: absolute;
    right: 10px;
}

 /* .midHeader{
    padding-top: 30px;
    font-size: 1.2rem;
    color: #FFFFFF;
 } */

 .helpText{
     /* padding: 0 20px 20px 40px; */
 }

.helpList{
    padding: 0 20px 20px 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
}


/* MEDIA QUERIES */

@media only screen and (min-width: 450px){
    body{
    font-size: 20px;
    }
    .vehicleIcon{
        width: 5rem;
        padding: 1.5vw;
    }
    h2{
        font-size: 3rem;
    }
    .bodyText{
        font-size: 1.2rem;
    }
    .helpIconBox{
        height: 2.5rem;
        width: 2.5rem;
    }
    h3{
        font-size: 2rem;
    }
    .helpList{
        padding: 0 30px 20px 80px;
        font-size: 1.2rem;
    }
  /* .newZealandHeader{
      font-size: 9vh;
  }
  .roadTripHeader{
      font-size: 8vh;
  }
  .transportPlanner{
      font-size: 6vh;
  }
  .vehicleIcon{
      width: 15vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
  h2{
    font-size: 6vw;
  }
  .kiaOraText{
    font-size: 2vw;
  }
  .helpContainer{
      width: 60vw;
  } */
}


@media only screen and (min-width: 650px){
    body{
    font-size: 30px;
    }
    .vehicleIcon{
        width: 6rem;
    }
    .contentBox{
        max-width: 580px;
    }
    .letsGoBox{
        width: 10rem;
    }
    .goBackIcon{
        padding: 20px 0 0 20px;
        width: 3.5rem;
    }
    .helpIconBox{
        padding-top: 0;
        height: 3.2rem;
        width: 3.2rem;
    }
    h2{
        font-size: 3.5rem;
    }
    .bodyText{
        font-size: 1.4rem;
    }
    h3{
        font-size: 2.5rem;
    }
    .helpList{
        padding-left: 100px;
        font-size: 1.5rem;
    }
    /* .peopleButton{
        font-size: 1.2rem;
    }
    .peopleDrop{
        font-size: 1.2rem;
    }
    .midHeader{
       padding-top: 40px;
    }
    .helpContainer{
        max-width: 800px;
    }
    .midHeader{
        font-size: 2.5vw;
    }
    .helpList{
        font-size: 1.5rem;
    } */
}

@media only screen and (min-width: 1500px){
    body{
    font-size: 40px;
    }
    hr{
    margin-top: 30px;
    }
    .vehicleIcon{
        width: 9rem;
    }
    .contentBox{
        max-width: 860px;
        display: flex;
        justify-content: center;
    }
    .kiaOraBox{
        max-width: 860px;
    }

    .letsGoBox{
        width: 12rem;
        margin-top: 0;
    }
    .letsGoHeader{
        font-size: 2.5rem;
    }
    h2{
        font-size: 5rem;
    }
    .bodyText{
        font-size: 2.2rem;
    }
    .helpIconBox{
        height: 4rem;
        width: 4rem;
    }
    .helpContainer{
        max-width: 580px;
    }
}
/* @media only screen and (min-width: 1200px){ */
  /* .mainContainer{
  max-width: 1800px;
  }
  .newZealandHeader{
      font-size: 12vh;
  }
  .roadTripHeader{
      font-size: 10vh;
  }
  .transportPlanner{
      font-size: 8vh;
  }
  .vehicleIcon{
      width: 12vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
  .midHeader{
     padding-top: 60px;
  }
 .helpText{
      padding-left: 70px;
  }
} */

/* @media only screen and (min-width: 1800px){ */
  /* .mainContainer{
  max-width: 2800px;
  }
  .newZealandHeader{
      font-size: 12vh;
  }
  .roadTripHeader{
      font-size: 10vh;
  }
  .transportPlanner{
      font-size: 8vh;
  }
  .vehicleIcon{
      width: 12vw;
      padding: 1.5vw;
  }
  .pureNZlogo{
    width: 20vw;
  }
} */
